<template>
    <hub-repair-request-list />
</template>

<script>
    import HubRepairRequestList from "@/components/RepairRequest/HubRepairRequestList";

    export default {
        name: "HubRepairRequestListWrapper",
        components: {HubRepairRequestList}
    }
</script>

<style scoped>

</style>
