<template>
    <incoming-repair-request-list />
</template>

<script>
    import IncomingRepairRequestList from "@/components/RepairRequest/IncomingRepairRequestList";

    export default {
        name: "IncomingRepairRequestListWrapper",
        components: {IncomingRepairRequestList}
    }
</script>

<style scoped>

</style>
