<template>
    <offered-repair-request-list />
</template>

<script>
    import OfferedRepairRequestList from "@/components/RepairRequest/OfferedRepairRequestList";

    export default {
        name: "OfferedRepairRequestListWrapper",
        components: {OfferedRepairRequestList}
    }
</script>

<style scoped>

</style>
