<template>
    <div class="container mx-auto px-4 sm:px-8">
        <div class="py-8">
            <div>
                <h2 class="text-2xl font-semibold leading-tight">{{$t('Repair request offers')}}</h2>
            </div>

<!--            <Search @search="updateData($event)"/>-->
            <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                    <preloader v-if="loading" />

                    <table v-else class="min-w-full leading-normal">
                        <RepairRequestsOffersHeader/>
                        <tbody>
                        <RepairRequestsOffersRow :key="index" v-for="(offer, index) in offers" :offer="offer" @delete="updateData"/>
                        </tbody>
                    </table>

                    <Pagination @paginate="updateData"/>
                </div>
                <br/>
                <div>
                    <h2 class="text-2xl font-semibold leading-tight">{{$t('Available actions')}}</h2>
                </div>
                <div class="inline-block min-w-full shadow rounded-lg overflow-hidden px-8 py-3">
                    <div>
                        {{$t('Actions list')}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Search from "@/components/Admin/Customer/CustomerSearch";
    import Pagination from "@/components/Admin/Widget/Pagination";
    import {mapState} from "vuex";
    import errorAwareWithPreloading from "@/services/mixin/errorAwareWithPreloading";
    import Actions from "@/store/admin/actions";
    import RepairRequestsOffersHeader from "@/components/Admin/RepairRequest/RepairRequestOffersHeader";
    import RepairRequestsOffersRow from "@/components/Admin/RepairRequest/RepairRequestOffersRow";
    import Preloader from "@/components/Widget/Preloader";

    export default {
        name: "RepairRequestOffers",
        components: {
            Preloader,
            RepairRequestsOffersRow,
            RepairRequestsOffersHeader,
            Pagination,
            Search
        },
        mixins: [errorAwareWithPreloading],
        computed: {
            ...mapState({
                offers: state => state.adminRepairRequest.offers,
                searchWidgetStatus: state => state.search.searchWidgetStatus,
            })
        },
        methods: {
            async updateData(query = '') {
                await this.errorAwareStoreDispatch(Actions.FETCH_REPAIR_REQUEST_OFFERS, {query, requestId: this.$route.params.id});
            }
        },
        async mounted() {
            if (!this.searchWidgetStatus) {
                await this.errorAwareStoreDispatch(Actions.FETCH_REPAIR_REQUEST_OFFERS, {query: '', requestId: this.$route.params.id});
            }
        }
    }
</script>

<style scoped>

</style>
