<template>
    <RepairRequestOffers />
</template>

<script>
    import RepairRequestOffers from "@/components/Admin/RepairRequest/RepairRequestOffers";

    export default {
        name: "AdminRepairRequestsOffers",
        components: {RepairRequestOffers}
    }
</script>

<style scoped>

</style>
