<template>
    <WorkshopShowForm />
</template>

<script>
    import WorkshopShowForm from "@/components/Admin/Workshop/WorkshopShowForm";

    export default {
        name: "AdminWorkshopShow",
        components: {WorkshopShowForm}
    }
</script>

<style scoped>

</style>
