<template>
    <RepairRequestList />
</template>

<script>
    import RepairRequestList from "@/components/Admin/RepairRequest/RepairRequestList";

    export default {
        name: "AdminRepairRequests",
        components: {RepairRequestList}
    }
</script>

<style scoped>

</style>
