<template>
    <WorkshopList />
</template>

<script>
    import WorkshopList from "@/components/Admin/Workshop/WorkshopList";

    export default {
        name: "AdminWorkshops",
        components: {WorkshopList}
    }
</script>

<style scoped>

</style>
