<template>
    <WorkshopReviews />
</template>

<script>
    import WorkshopReviews from "@/components/Admin/Workshop/WorkshopReviews";

    export default {
        name: "AdminWorkshopReviews",
        components: {WorkshopReviews}
    }
</script>

<style scoped>

</style>
