<template>
    <WorkshopEditForm />
</template>

<script>
    import WorkshopEditForm from "@/components/Admin/Workshop/WorkshopEditForm";

    export default {
        name: "AdminWorkshopEdit",
        components: {WorkshopEditForm}
    }
</script>

<style scoped>

</style>
