<template>
    <RepairRequest />
</template>

<script>
    import RepairRequest from "@/components/Admin/RepairRequest/RepairRequest";

    export default {
        name: "AdminRepairRequest",
        components: {RepairRequest}
    }
</script>

<style scoped>

</style>
